[submodule "libs/cpp-bredis"]
	path = libs/cpp-bredis
	url = https://github.com/basiliscos/cpp-bredis
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest
[submodule "tests/boost"]
	path = tests/boost
	url = https://github.com/boostorg/boost
